<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="Description" content="Enter your description here" />
 
    <style>
  
    </style>
    <title>Title</title>
</head>

<body>
    <table style="width: 100%; text-align: center;border: 1px solid #333;">
        <thead>
            <tr>
                <th style="border: 1px solid #333;">Name</th>
                <th style="border: 1px solid #333;">Age</th>
                <th style="border: 1px solid #333;">Description</th>
                <th style="border: 1px solid #333;">Title</th>
                <th style="border: 1px solid #333;">Roll No</th>
            </tr>
        </thead>
        <tbody>
            <tr style="background-color: lightblue !important;">
                <td style="border: 1px solid #333; width: 50%;">Rayan</td>
                <td style="border: 1px solid #333;">20</td>
                <td style="border: 1px solid #333;">Worker</td>
                <td style="border: 1px solid #333;">Developer</td>
                <td style="border: 1px solid #333;">215</td>
             
            </tr>
            <tr style="background-color: green !important;">
                <td style="border: 1px solid #333;">Rayan</td>
                <td style="border: 1px solid #333;">20</td>
                <td style="border: 1px solid #333;">Worker</td>
                <td style="border: 1px solid #333;">Developer</td>
                <td style="border: 1px solid #333;">215</td>
             
            </tr>
            <tr style="background-color: red !important;">
                <td style="border: 1px solid #333;">Rayan</td>
                <td style="border: 1px solid #333;">20</td>
                <td style="border: 1px solid #333;">Worker</td>
                <td style="border: 1px solid #333;">Developer</td>
                <td style="border: 1px solid #333;">215</td>
             
            </tr>

        </tbody>
    </table>






</body>

</html>
