<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    
    <main style="margin-top: 5px;">
        <div id='target'>
            <div class="container">
                <div class="row my-2">
                    <div class="col-md-12 text-center">
                        <img src="{{asset('assets/img/rayan.jpg')}}" style="width: 600px;" title="Forland" alt="Forland">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <h5>{{ Session::get('customerName')}}</h5>
                    </div>
                    <div class="col-md-4 text-right offset-md-4">
                        <h5>{{ Session::get('invoiceDate')}}</h5>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-4 text-center offset-md-4">
                        <h5>Quotation for {{ Session::get('productName')}}</h5>
                    </div>
                </div>
            </div>
        </main>
        <br>
        <section>
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <table style="width: 100%;">
                            <thead>
                                <tr>
                                    <th style=" border: 1px solid #333;">Description</th>
                                    <th style=" border: 1px solid #333;">Color</th>
                                    <th style=" border: 1px solid #333;">Unit Price</th>
                                    <th style=" border: 1px solid #333;">Qty</th>
                                    <th style=" border: 1px solid #333;">Total Price</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td style=" border: 1px solid #333;  width: 50px;
                                    text-align: center;">{{ Session::get('productName')}}</td>
                                    <td style=" border: 1px solid #333;" rowspan="2">{{ Session::get('color')}}</td>
                                    <td style=" border: 1px solid #333;">Rs.</td>
                                    <td style=" border: 1px solid #333;" rowspan="2">{{ Session::get('quantity')}}</td>
                                    <td style=" border: 1px solid #333;">Rs.</td>
                                </tr>
                                <tr>
                                    <td style=" border: 1px solid #333;width: 50px;
                                    text-align: center;">{{ Session::get('description')}}</td>
                                    <td style=" border: 1px solid #333;">={{ Session::get('price')}}/-</td>
    
                                    <td style=" border: 1px solid #333;">={{ Session::get('total')}}/-</td>
                                </tr>
                                <tr>
                                    <td style=" border: 1px solid #333;" colspan="5">({{ Session::get('amountInWords')}} Only.)</td>
                                </tr>
    
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row my-3">
                    <div class="col-md-12">
                        <h5>Terms & Conditions</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 ">
                        <table style="width: 100%;">
    
                            <tbody>
                                <tr>
                                    <td style=" border: 1px solid #333;  width: 50px;
                                    text-align: center;">1</td>
                                    <td style=" border: 1px solid #333;">Delivery Time.</td>
                                    <td style=" border: 1px solid #333;">{{ Session::get('DeliveryTime')}} days after receipt of 100% advance payment.</td>
                                </tr>
                                <tr>
                                    <td style=" border: 1px solid #333;  width: 50px;
                                    text-align: center;">2</td>
                                    <td style=" border: 1px solid #333;">Validity</td>
                                    <td style=" border: 1px solid #333;">This Quotation is Valid For {{ Session::get('ValidityPeriod')}} Days Only.</td>
                                </tr>
                                <tr>
                                    <td style=" border: 1px solid #333;  width: 50px;
                                    text-align: center;">3</td>
                                    <td style=" border: 1px solid #333;">Payment</td>
                                    <td style=" border: 1px solid #333;">100% Advance Payment In shape of DD/PO in favor of {{ Session::get('PayTo')}}</td>
                                </tr>
                                <tr>
                                    <td style=" border: 1px solid #333;  width: 50px;
                                    text-align: center;">4</td>
                                    <td style=" border: 1px solid #333;">Duty / Taxes</td>
                                    <td style=" border: 1px solid #333;">Any Change In Govt. Fiscal Policies , RGST/VAT and tariff structures will be on
                                        customer's Account.</td>
                                </tr>
                                <tr>
                                    <td style=" border: 1px solid #333;  width: 50px;
                                    text-align: center;">5</td>
                                    <td style=" border: 1px solid #333;">Force Majeure</td>
                                    <td style=" border: 1px solid #333;">Manufacture will Not be responsible for any delay in delivery due to force majeure
                                        circumstance.</td>
                                </tr>
                                <tr>
                                    <td style=" border: 1px solid #333;  width: 50px;
                                    text-align: center;">6</td>
                                    <td style=" border: 1px solid #333;">Warranty</td>
                                    <td style=" border: 1px solid #333;">Manufacture's Standard Warranty 120,000 Km or 02-Years , Whichever is occurs first
                                    </td>
                                </tr>
                                <tr>
                                    <td>7</td>
                                    <td>Model</td>
                                    <td>{{ Session::get('productName')}}(2021)</td>
                                </tr>
    
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </section>
        <br><br>
        <section style="margin-top:50px;">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 text-right offset-md-8">
                        <h5 style="border-top: 1px solid #333; display: inline-block;">Forland Modern Motors</h5>
                    </div>
                </div>
            </div>
            <div id="content">
    
                <button id="print">Generate PDF</button>
            </div>
        </section>
    
    
        <footer style="margin-top: 300px;">
            <div class="container">
                <div class="row" style="border-top: 1px solid #333;">
                    <div class="col-md-4 p-2 text-center">
                        <span><i style=" font-size: 30px !important;
                            color: #e61d2f;" class="fa fa-map-marker"></i></span>
                        <h5 style="text-transform: uppercase;">BKM, {{ Session::get('UserName')}}Road,OM MILLAT Tractors,Lhr
                        </h5>
                    </div>
                    <div class="col-md-4 p-2 text-center">
                        <span><i style=" font-size: 30px !important;
                            color: #e61d2f;" class="fa fa-phone"></i></span>
    
                        <h5>Mob: <a href="+92-300-0600061">+92-300-0600061</a></h5>
                        <h5>Tel: <a href="+92-300-0600061">+92-42-37925218/318</a></h5>
                    </div>
                    <div class="col-md-4 p-2 text-center">
                        <span><i style=" font-size: 30px !important;
                            color: #e61d2f;" class="fas fa-envelope"></i></span>
                        <h5>forlandmodernmotors@gmail.com</h5>
    
                    </div>
                </div>
            </div>
        </div>
    </div>      
        </footer>
</body>
</html>