<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        #main{
            background-color: antiquewhite;
          
            display: flex;
            justify-content: center;
        }
        .mainFlex{
            width: 20%;
            text-align: center;
            border: 1px solid #333;
        }
        .mainMain{
            height: 500px;
            border: 1px solid #333;
        }
    </style>
</head>
<body>
    
<div class="mainMain">

    <div id="main">
        <div class="mainFlex">ITEM#</div>
        <div class="mainFlex">DESCRIPTION</div>
        <div class="mainFlex">QTY</div>
        <div class="mainFlex">UNIT PRICE</div>
        <div class="mainFlex">TOTAL</div>
    </div>
        
</div>


   
</body>
</html>